
.about {
    margin-left: 35%;
    margin-right: 40%;
    margin-bottom: 10%;
}

.about-body {
    /* background-image: url("https://media.istockphoto.com/id/916064218/photo/grilled-vegetables-and-beef-steak.jpg?s=612x612&w=0&k=20&c=9_oL3hsIC3dMMGrQc3Eha8WlDZGAajDd2og4AZFCyjY="); */
    /* background-image: url("https://t4.ftcdn.net/jpg/05/53/19/53/360_F_553195343_MomxYSXid6XstNXJoqIEfTsg6dJtmIJk.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 999;
}