body {
    background-color: rgb(232, 229, 229);
    width: 70%;
    margin: auto;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    /* padding-top: 40px;
    padding-bottom: 30px; */
    /* max-width: 70%; */
    /* margin: auto; */
    grid-gap: 8px;
    padding-left: 5rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgb(141, 4, 4);
}

.photo-div {
    justify-content: center;
    align-items: center;
    text-decoration: none;   
}

.photos {
    display: flex;
    padding-left: 5rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(141, 4, 4);
}

.polaroid {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
    padding-top: 25px;
    transition: all 1s ease;
}

.photo-image {
    display: flex;
    width: 14rem;
    height: 14rem;
    border-radius: 1rem; 
    cursor: pointer;
}

.photo-image:hover {
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 1.5), 0 16px 20px 0 rgba(0, 0, 0, 0.29);
    transform: scale(1.0);
}

.menu{
  display: flex;
  text-decoration: none;
  align-items: right;
  justify-content: end;
  padding-right: 50px;

}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 93%;
  padding-top: 10px;
}

.title {
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    padding-bottom: 5px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    /* color: rgb(141, 4, 4);  */
}

.text {
    padding-left: 5rem;
    
}